apiVersion: v1
kind: Secret
metadata:
  name: open-webui-secret
  namespace: {{ ai_namespace }}
type: Opaque
data:
  WEBUI_SECRET_KEY: {{ webui_secret_key | b64encode }}
  WEBUI_ADMIN_PASSWORD: {{ webui_admin_password_resolved | b64encode }}
---
apiVersion: v1
kind: Secret
metadata:
  name: es-mcp-cred
  namespace: {{ ai_namespace }}
type: Opaque
data:
  password: {{ mcp_user_password | b64encode }}
